.singleHero {
  height: 23rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.singleHero--brand {
  background: linear-gradient(135deg,
      hsl(201 80% 24%) 0%,
      hsl(187 85% 43%) 50%,
      hsl(189 80% 48%) 100%);
}

.singleHero__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.10),
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.92));
}

.singleHero__inner {
  position: relative;
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}


.singleHero__back {
  background: transparent;
  border: none;
  box-shadow: none;

  padding: 0;
  border-radius: 0;

  color: #334155;
  text-decoration: none;
  font-size: 14px;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);

  margin-top: 40px;
}

.singleHero__back:hover {
  color: #ffffff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.55);
}

.singleHero__back span {
  display: flex;
}

/* ===== Profile Content ===== */

.heroProfile {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 20px;
}

.heroProfile__text h1 {
  font-size: 40px;
  margin: 0 0 12px;
}

.heroProfile__meta {
  display: flex;
  font-size: 16px;
  gap: 4px;
  opacity: 0.9;
  flex-direction: column;
  align-items: flex-start;
}

.heroProfile__meta span {
  align-items: center;
  display: flex;
  gap: 6px;
}

.heroProfile__imageWrapper {
  position: relative;
}

.heroProfile__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 980px) {
  .singleHero {
    height: 230px;
  }
}



@media (max-width: 768px) {

  .singleHero {
    min-height: 280px;
    display: flex;
    align-items: center;
  }

  .singleHero--brand {
    min-height: 420px;
  }

  .singleHero__inner {
    justify-content: end;
    text-align: center;
    padding: 0 20px 30px;
  }

  /* כפתור חזרה מיושר לימין */
  .singleHero__back {
    align-self: center;
    margin: 0 0 16px 0;
    font-size: 14px;
  }

  /* הופכים ל־column */
  .heroProfile {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 0;
  }

  .heroProfile__image {
    width: 130px;
    height: 130px;
  }

  .heroProfile__text h1 {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .heroProfile__meta {
    align-items: center;
    font-size: 15px;
    gap: 8px;
  }

  .heroProfile__meta span {
    justify-content: center;
  }

  .heroProfile__meta span svg {
    width: 18px;
    height: 18px;
  }
}