.course-list-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 14px;
  padding: 20px 24px;
  margin-bottom: 16px;
}

.course-list-card:hover {
  transform: translateY(-2px);
}

/* ---------------- Actions (Left side) ---------------- */

.course-list-card-actions {
  display: flex;
  gap: 14px;
  align-items: center;
  min-width: 160px;
}
.show-students-btn svg {
    margin-left: 7PX;
}

.course-list-card-actions button {
    color: var(--color-like-black);
    font-weight: 400;
  background: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

 .course-list-card-actions button:hover {
        border-color: var( --color-turquoise-hover);}

.edit-course-list-card-btn {
    border-color: var(--color-dark-turquoise);  
    border-color: var(--color-dark-turquoise);}

.edit-course-list-card-btn:hover{
        border-color: var( --color-turquoise-hover);}



/* ---------------- Course Info (Center) ---------------- */

.course-list-card-info {
  flex: 1;
  text-align: right;
  padding: 0 50px;
}

.course-list-card-info h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-weight: 600;
 color: var(--color-dark-gray);
}

.course-list-card-info div {
  font-size: 14px;
      color: var(--color-dark-gray);
  margin-bottom: 4px;
}


/* נרשמים */
.course-list-card-info div:last-child {
      color: var(--color-turquoise);
  font-weight: 500;
}



/* ---------------- Image (Right side) ---------------- */

.course-list-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 16px;
}
