.school-instructors-tab {
  padding-top: 24px;
  width: 120vh;
  margin-bottom: 60px;
}

.school-instructors-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}



.add-instructor-btn {
background: var(--color-turquoise);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;}

.add-instructor-btn:hover {
  background-color:var(--color-dark-turquoise);
}
