.dashboard{
    background-color: #f8fafc;
}
.dashboard-header{
        padding-top: 77px;
    font-size: 7px;
    display: flex;
    justify-content: end;
    margin-right: 4vh;
    padding-bottom: 15px;
}