/* שדה רגיל */
.field input,
.field textarea,
.form-select-button {
  border: 1px solid var(--color-semi-light-gray);
  border-radius: 6px;
  padding: 8px;
  transition: border 0.2s ease;
}

/* מצב שגיאה */
.input-error {
  border: 1px solid var(--color-like-red) !important;
}

/* לשדות select מותאם */
.form-select-button.input-error {
  border: 1px solid var(--color-like-red) !important;
}

/* הודעת שגיאה */
.field-error {
  color: var(--color-like-red);
  font-size: 13px;
  margin-top: 4px;
}
