.featured {
  background: #f8fafc;
  padding: 5rem 1.5rem;
  direction: rtl;
}

.featured-container {
  max-width: 1200px;
  margin: 0 auto;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
  gap: 1rem;
}

.featured-badge-title{
        display: flex;
    flex-direction: column;
}
.featured-badge {
  display: inline-block;
  background: rgba(14, 165, 233, 0.1);
  color: #0284c7;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  width: 145px;
}

.featured-title {
    margin: 0px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #0f172a;
}

.featured-link {
  color: #0284c7;
  font-weight: 500;
  text-decoration: none;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
    align-items: stretch;

}

.view-all-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;

  padding: 0.1rem 0.4rem;
  border: 2px solid #0f4c75;
  border-radius: 13px;

  background: #ffffff;
  color: #0f4c75;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.25s ease;
}
.view-all-arrow{
    padding-top: 8px;
}
.view-all-btn:hover {
  background: #0f4c75;
  color: #ffffff;
}

.view-all-icon {
  font-size: 1.2rem;
  transition: transform 0.25s ease;
}

.view-all-btn:hover .view-all-icon {
  transform: translateX(-4px);
}

.featured-light-blue {
    background: #f3fbff;}

@media (max-width: 768px) {
  .view-all-btn {
    width: 100%;
    justify-content: center;
  }
}
