/* =========================
   PAGE BASE
========================= */
.listing-page {
  direction: rtl;
  background: #F8FAFC;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* font-family: system-ui, -apple-system, BlinkMacSystemFont; */
}

/* =========================
   HERO
========================= */
.listing-hero {
  width: 100%;
  height: 310px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 24px;
}

.listing-hero h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 40px;
}

.listing-hero p {
  font-size: 18px;
  opacity: 0.9;
}

/* =========================
   FILTERS
========================= */
.listing-filters {
  max-width: 1200px;
  margin: -36px auto 48px;
  padding: 16px 20px;
  background: white;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
}

.listing-filters select,
.listing-filters input {
  height: 44px;
  padding: 0 18px;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  font-size: 14px;
  outline: none;
  background: #fff;
  min-width: 160px;
  font-family: inherit;
}

.listing-filters input {
  flex: 1;
}


/* =========================
   GRID
========================= */
.listing-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px 80px;
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 32px;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .listing-hero {
    height: 220px;
  }

  .listing-hero h1 {
    font-size: 28px;
  }

  .listing-hero p {
    font-size: 16px;
  }

  .listing-filters {
    flex-direction: column;
    gap: 10px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 22px;
  }

  .listing-filters select,
  .listing-filters input {
    width: 100%;
    padding: 6px 18px;
  }

}