.login-container {
  width: 100%;
  max-width: 440px;
  direction: rtl;
  text-align: right;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  color: var(--color-gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 14px;
  margin-bottom: 4px;
}

.login-container .field input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  text-align: right;
  padding-right: 40px;
}

.field.error input {
  border-color: var(--color-like-red);
  background: #fef2f2;
}

.error-text {
  font-size: 12px;
  color: var(--color-like-red);
  margin-top: 4px;
}

.submit-button {
  margin-top: 8px;
  padding: 12px;
  background: #18bfdc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background: #069eb9;
}

.icon-field .login-input-wrapper {
  position: relative;
}

.login-input-wrapper input {
  width: 100%;
  padding: 12px 44px 12px 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  text-align: right;
}

.input-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-gray);;
  width: 20px;
  height: 20px;
}

/* סיסמה - כותרת + שכחתי */
.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-link {
  font-size: 13px;
  color: var(--color-turquoise);
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* כפתור ראשי */
.submit-button.primary {
  margin-top: 12px;
  background: linear-gradient(90deg, #22c1dc, var(--color-turquoise));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 6px 44px;
}

.submit-button.primary:hover {
  background: #069eb9;
}

.login-arrow {
  padding-top: 8px;
}
* {
  box-sizing: border-box;
}

.form > * {
  width: 100%;
}
